.page-illustration-main {
  position: absolute;
  left: 50%;
  top: 0;
  z-index: -10;
  transform: translateX(-25%);
  pointer-events: none;
  opacity: 0.25;
  filter: blur(2px);
}

@media (max-width: 767px) {
  .page-illustration-main {
    display: none;
  }
}

.page-illustration-img {
  max-width: none;
}

.page-illustration-blur-gray {
  position: absolute;
  left: 50%;
  top: 400px;
  z-index: -10;
  margin-top: -80px;
  transform: translateX(-100%);
  opacity: 0.15;
  pointer-events: none;
  filter: blur(4px);
}

@media (max-width: 767px) {
  .page-illustration-blur-gray {
    display: none;
  }
}

.page-illustration-blur {
  position: absolute;
  left: 50%;
  top: 440px;
  z-index: -10;
  transform: translateX(-33%);
  pointer-events: none;
  opacity: 0.18;
  filter: blur(3px);
}

@media (max-width: 767px) {
  .page-illustration-blur {
    display: none;
  }
} 